@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid #423A4B;
  color: #423A4B;
  font-weight: 700;
  background-color: white;
}

html {
  font-family: "Poppins" sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins" sans-serif;
  color: #423A4B;
  list-style-type: none;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(21, 12, 33, 0.81);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 80%;
  max-width: 600px;
  font-size: 18px;
  border-radius: 15px;
  padding: 2em 0;
}

.flex_btn {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  border-radius: 5px;
  width: 47%;
  height: 5vh;
  cursor: pointer;
}

.active {
  border: none;
  background-color: #5D5FEF;
  color: white;
}

p {
  font-size: 14px;
  text-align: center;
  margin: 1em 0;
}

.Or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}

.empty {
  width: 35%;
}

.imageUpload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  background: #F5F7FA;
  border: 1px solid #DFDFDF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 200px;
  width: 50%;
}

.cancel_btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.imageUpload::before {
  color: #939393;
  width: 60%;
  line-height: 1.5;
  text-align: center;
  content: 'Click here to upload from file';
}

.inputImage {
  display: none;
}

.upload::before {
  content: 'Upload file';
}

.upload {
  background: #F5F7FA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 1em 0;
  width: 40%;
  padding: 0.2em 0;
  text-align: center;
}

.takePicture {
  background: #F5F7FA;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 1em 0;
  width: 40%;
  padding: 0.2em 0;
  text-align: center;
}

.takePicture::before {
  content: 'Take picture';
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 1em;
}

form .form-group {
  width: 100%;
}

form label {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}

form input {
  width: 100%;
  border: 1px solid #DFDFDF;
  background-color: #F5F7FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 5px;
  margin-bottom: 1em;
}

form button {
  width: 100%;
  border: none;
  background-color: #5D5FEF;
  color: white;
  border-radius: 5px;
  width: 47%;
  height: 5vh;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .flex_btn {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
  button {
    border-radius: 5px;
    width: 47%;
    height: 5vh;
    cursor: pointer;
    width: 40%;
    height: 6vh;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin-top: 1em;
    width: 70%;
  }
  form input {
    width: 100%;
    border: 1px solid #DFDFDF;
    background-color: #F5F7FA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-bottom: 0.5em;
    padding: 10px;
  }
  form button {
    width: 100%;
    border: none;
    background-color: #5D5FEF;
    color: white;
    border-radius: 5px;
    width: 47%;
    height: 5vh;
    cursor: pointer;
    border-radius: 5px;
    width: 47%;
    height: 5vh;
    cursor: pointer;
    width: 40%;
    height: 6vh;
  }
}
/*# sourceMappingURL=style.css.map */