@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@700&display=swap');
$font-stack: 'Poppins'sans-serif;
$backdrop-background_color:rgba(21, 12, 33, 0.81);
$btn_background-color : #5D5FEF;
$text-color:#423A4B;
$alt-text-color:white;
$label-color:rgba(0, 0, 0, 0.5);
$font-size :18px;
$border-color:#DFDFDF;
$input-bg-color:#F5F7FA;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin backdrop {
    @include flex();
    width: 100%;
    height: 100vh;
    background-color: $backdrop-background_color;
}

@mixin modals {
    @include flex2();
    background-color: $alt-text-color;
    width: 90%;
    max-width: 600px;
    font-size: $font-size;
    border-radius: 15px;
    padding: 2em 0;
}

@mixin flex_btn {
    width: 90%;
    @include flex();
    justify-content: space-between;
}

@mixin flex_btn2 {
    @include flex_btn();
    width: 70%;
}

@mixin btn {
    border-radius: 5px;
    width: 47%;
    height: 5vh;
    cursor: pointer;
}

@mixin btn2 {
    @include btn();
    width: 40%;
    height: 6vh;
}

@mixin active-btn {
    background-color: $btn_background-color;
    color: $alt-text-color;
}

@mixin form {
    @include flex2();
    width: 85%;
    margin-top: 1em;
}

@mixin form2 {
    @include form();
    width: 70%;
}

@mixin label {
    font: {
        size: 14px;
        weight: 900;
    }

    line-height: 1.8;
    color: $label-color;
    display: block;
}

@mixin input {
    /*  width: 100%;
    border: 1px solid $border-color;
    padding: 20px 10px;
    border-radius: 5px;
    */
    box-sizing: border-box;
    margin-bottom: 1.5em;
    background-color: $input-bg-color;
    border: 1px solid #A9A9A9;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    min-height: 50px;
    max-height: 60px;
    width: 100%;
    max-width: 100%;
}

@mixin input2 {
    @include input();
    margin-bottom: 0.5em;
    padding: 10px;
}

@mixin continue_btn {
    @include active-btn();
    @include btn();
    border: none;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1em;
    min-height: 45px;
    max-height: 40px;
}

@mixin continue_btn2 {
    @include continue_btn();
    @include btn2();
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font: {
        family: $font-stack;
    }
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;

    font: {
        family: $font-stack;
    }

    color: $text-color;
    list-style-type: none;
}

.backdrop {
    @include backdrop();
}

.modal {
    @include modals();
}

.flex_btn {
    @include flex_btn();
}

button {
    @include btn();
}

.active {
    border: none;
    @include active-btn();
}

.continueWith {
    width: 80%;
    align-items: center;
    p {
        font-size: 12px;
        text-align: center;
        margin: 1em 0;
    }
}

.spanning {
    @include flex();
    justify-content: space-between;
    width: 85%;
    h1 {
        font-size: 20px;
        margin-bottom: 1em;
        text-align: left;
        align-self: flex-start;
        display: block;
    }
}
h1{
    display: none;
}
.cancel_btn {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.Madbtn {
    display: flex;
    justify-content: space-between;
}

.Or {
    @include flex();
    justify-content: space-evenly;
    width: 90%;

    .empty {
        width: 40%;
    }
}

.imageUpload {
    @include flex2();
    justify-content: center;
    background: #F5F7FA;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 10px;
    height: 200px;
    width: 50%;
}

.imageUpload::before {
    color: #939393;
    width: 60%;
    line-height: 1.5;
    text-align: center;
    content: 'Click here to upload from file';
}

a {
    width: 100%;
    align-self: center;
    text-align: center;
}

.inputImage {
    display: none;
}

.upload::before {
    content: 'Upload file';
}

@mixin upload {
    background: #F5F7FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 1em 0;
    width: 40%;
    padding: 0.2em 0;
    text-align: center;
}

.upload {
    @include upload();
}

.takePicture {
    @include upload();

}

.takePicture::before {
    content: 'Take picture';
}

select {
    @include input();

    &:invalid {
        color: gray;
    }

    #selected {
        font-weight: normal;
        color: #B4B4B4;
    }

    option {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
}

form {
    @include form();


    .form-group {
        width: 100%;
    }

    label {
        @include label();
    }

    input {
        @include input();
    }

    button {
        @include continue_btn();
    }
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 1.5em;
        text-align: center;
        align-self: center;
        display: block;
    }

    .spanning {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: end;
        .cancel_btn {
            h1 {
                display: none;
            }
        }
    }

    .flex_btn {
        @include flex_btn2();
    }

    button {
        @include btn2();
    }
    select {
        @include input2();

        &:invalid {
            color: gray;
        }

        #selected {
            font-weight: normal;
            color: #B4B4B4;

        }
    }
    .Or {
        @include flex();
        width: 70%;
    justify-content: space-between;
        .empty {
            width: 40%;
        }
    }
    form {
        @include form2();

        input {
            @include input2();
        }
        button {
            @include continue_btn2();
            width: 70%;
        }
    }
}