*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
  color: $black;
  list-style: none;
  text-decoration: none;
  text-size-adjust: 100%;
}

:root {
  font: {
    family: $fontFamily;
    weight: 400;
    style: normal;
  }
}

html {
  color: #000;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: $black;

  background-position: center;
  width: 100%;
}

::selection {
  color: #fff;
  background-color: #1207ab;
}

a,
a:hover,
button {
  border-radius: 10px;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

a.button {
  display: inline-block;
}

button {
  @extend .linkButton;
  background-color: $black;
  line-height: 1.71;
  &:hover {
    opacity: 0.5;
  }
}

img {
  //vertical-align: middle;
  display: block;
  margin: 0 auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1 {
  font: {
    size: 9.3vw;
    weight: 500;
  }
  @include margin();
  @include media(540px) {
    font-size: 6.6vw;
  }
  @include media {
    font-size: 5.1vw;
  }
  @include media($laptop) {
    font-size: 2.9em;
  }
}
h3 {
  font: {
    size: 1.4em;
    weight: 300;
  }
  @include margin(1.5);

  @include media(540px) {
    font-size: 5vw;
  }
  @include media {
    font-size: 1.7em;
  }
  @include media($laptop) {
    font-size: 1.8em;
  }
}
h4 {
  font: {
    size: 1.1em;
    weight: 300;
  }
  @include margin(2);
  @include media(540px) {
    font-size: 4vw;
  }
  @include media {
    font-size: 1.3em;
  }
  @include media($laptop) {
    font-size: 1.7em;
  }
}
div,
p {
  font: {
    size: 1em;
    weight: 300;
  }
  @include margin(1.1);
  color: rgba($color: $black, $alpha: 0.59);
  @include media(425px) {
    font-size: 3.6vw;
  }
  @include media {
    font-size: 2.5vw;
  }
  @include media($laptop) {
    font-size: 1.1em;
  }
}

hr {
  width: 40%;
  height: 0.5vh;
  margin: 2vh 0;
  background-color: gray;
}

li {
  list-style-type: none;
}

sup,
.error {
  color: red;
}
