*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
  color: $black;
  list-style: none;
  text-decoration: none;
}

:root {
  font: {
    family: $fontFamily;
    weight: 400;
    style: normal;
  }
}

html {
  color: #000;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: $black;

  background-position: center;
  width: 100%;
}

::selection {
  color: #fff;
  background-color: #1207ab;
}

hr {
  width: 40%;
  height: 0.5vh;
  margin: 2vh 0;
  background-color: gray;
}

a,
a:hover,
button {
  border-radius: 10px;
  cursor: pointer;
}

a:hover,
.droprog:hover {
  opacity: 0.5;
}

a.button {
  display: inline-block;
}

button {
  margin-top: 1.5vh;
  padding: 5px;
  background-color: $black;
  color: #fff;
  line-height: 1.71;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  border-radius: 7px;
  font-size: 1rem;

  &:hover {
    opacity: 0.5;
  }
}

img {
  //vertical-align: middle;
  display: block;
  margin: 0 auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
@mixin font($s, $w) {
  font: {
    size: $s;
    weight: $w;
  }
}
h1 {
  @include font(12vw, 500);
  padding: 6vh 0 1.5vh;
  @include media {
    @include font(3.2em, 500);
    padding: 12vh 0 0;
  }
}
h2 {
  @include font(2.5em, 500);
}
h3 {
  @include font(1.5em, 500);
}
h5 {
  @include font(1.2em, 400);
  color: rgba($color: $black, $alpha: 0.59);
}

div,
p {
  @extend h5;
  padding: 1.5vh 0 4.5vh;
}
li {
  list-style-type: none;
}

sup,
.error {
  color: red;
}
