@mixin flex($direction:row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin media($device:$laptop) {
  @media #{$device} {
    @content;
  }
}

@mixin srcset {
  @include media {
    display: none;
  }

  &:last-child() {
    display: none;

    @include media {
      display: block;
    }
  }
}