$contentPadding: 0 5vw;
$black:#150C21;
$defaultBackgroundColor: #E5E5E5;
$QHSEBlue:#0E088D;
$QHSEButtonBackground: #02B7F2;
$contactUsBlue:#5D5FEF;
$stemBackgroundColor:linear-gradient(0deg, #A5A6F6 -18.66%, rgba(252, 221, 236, 0) 30.15%);
$academyBlue:#0138E6;
$fontFamily: 'Poppins',sans-serif;
$headerHeight: 75px;
$footerColor:#A4A4A4;
$anchorMargin: 1.5vw;
$smallpadding: 4px;
// MEDIA QUERIES
$tablet: "768px";
$laptop: "1024px";
