$paddingHeight: 2.5vh; 
$paddingSide: 7vw; 
$contentPadding: $paddingHeight $paddingSide ;
$defaultBackgroundColor: #FFF;
$black:#150C21;
$white:#fff;
$lightBlue: #47D0F2; 
$Blue:#0138E6;
$deepBlue:#1207AB;
$purple: #5D5FEF;
$stemBackgroundColor:linear-gradient(0deg, #A5A6F6 -18.66%, rgba(252, 221, 236, 0) 30.15%);
$fontFamily: 'Poppins',sans-serif;
$headerHeight: 75px;
$footerColor:#A4A4A4;
$anchorMargin: 1.5vw;
$smallpadding: 4px;
$borderRadius:10px;
// MEDIA QUERIES
$tablet: "768px";
$laptop: "1024px";
