section {
  padding: $contentPadding;
  margin: 1vh 0 0;

  &.laptopWoman {
    padding-top: $headerHeight;

    img {
      width: 100%;
      transform: scale(1.1);
      @include media {
        width: 52.5%;
        transform: scale(1);
      }
    }

    a {
      background-color: $black;
      width: 100%;
      @include media {
        width: 50%;
      }
    }

    @include media($tablet) {
      flex-direction: column;
    }

    @include media {
      flex-direction: row;
      background: {
        image: url(/assets/img/circleBackground.svg);
        repeat: no-repeat;
        position: 200% -100%;
        size: 75% 75%;
      }

      padding-top: 0.5 * $headerHeight;
    }
  }
  &.students {
    margin: -3vh 0 8vh;
    div {
      &.tablet {
        img {
          width: 22%;
          object-fit: cover;
          border-radius: $borderRadius;
          image-rendering: pixelated;
          &:hover {
            transform: scale(1.15);
          }
        }
      }
      &.note {
        @include media {
          width: 70%;
          text-align: center;
        }
        @include media($laptop) {
          width: 50%;
        }
      }
    }
  }
  &.QHSE {
    background-color: $deepBlue;
    padding: {
      top: 8vh;
      bottom: 8vh;
    }
    * {
      color: #fff;
    }
    a {
      border: none;
      background-color: $lightBlue;
      width: 100%;
      @include media {
        width: 50%;
        align-self: flex-start;
      }
    }

    /* p {
      @media screen and (min-width: $tablet) and (max-width: $laptop) {
        width: 150%;
        transform: translate(18%, 9%);
      }
    }
 */
    img {
      transform: translate(-3.125%, 0);
    }
    @include media {
      img {
        transform: translateY(-25%);
        width: 50%;
      }
    }
  }
  &.stem {
    .note {
      a {
        width: 100%;
        @include media {
          width: 50%;
        }
      }
      @include media {
        width: 50%;
      }
    }
    background: {
      image: url("/assets/img/airship.svg");
      repeat: no-repeat;
      size: cover;
    }
    .kids {
      img {
        @include media {
          height: 35vh;
          width: 30%;
        }
        height: 50vh;
        object-fit: cover;
        border-radius: 2 * $borderRadius;
        image-rendering: pixelated;
        &:hover {
          transform: scale(1.15, 1.15);
        }
      }
    }
  }
  &.workstation {
    padding: 0;
    > div {
      padding: $contentPadding;
      &:first-child {
        a {
          @include media {
            margin-right: $smallpadding * 4;
          }
        }
        img {
          image-rendering: pixelated;
          transform: translate(-12.5%, -18.75%);
          @include media($tablet) {
            width: 50%;
            transform: translate(0);
          }
        }
      }
      &.contactUs {
        border-top: {
          left-radius: 10px;
          right-radius: 10px;
        }
        transform: translateY(-80%);
        @include media {
          margin: $contentPadding;
          transform: translateY(-45%);
          border-radius: 10px;
        }
        h4 {
          color: #a6efff;
        }
        a {
          border: 1px solid #fff;
        }
      }
    }
  }
}
