section {
  padding: $contentPadding;

  &.laptopWoman {
    padding-top: $headerHeight;

    img {
      @include srcset;
      width: 100%;

      @include media {
        width: 52.5%;
      }
    }

    a {
      background-color: $black;
      color: #fff;
      display: block;
      text-align: center;
      width: 100%;

      @include media {
        width: 50%;
      }
    }

    @include media($tablet) {
      flex-direction: column;
    }

    @include media {
      flex-direction: row;

      background: {
        image: url(/assets/img/circleBackground.svg);
        repeat: no-repeat;
        position: 200% -100%;
        size: 75% 75%;
      }

      padding-top: 0.5 * $headerHeight;
    }
  }
  &.students {
    div {
      &.tablet {
        position: relative;
        img {
          object-fit: cover;
          border-radius: $borderRadius;
          image-rendering: pixelated;
          &:hover {
            transform: scaleY(1.1);
          }
        }
      }
      &.note {
        @include media {
          width: 70%;
          text-align: center;
        }
        @include media($laptop) {
          width: 50%;
        }
      }
    }
  }
  &.QHSE {
    background-color: $deepBlue;
    * {
      color: #fff;
    }
    a {
      background-color: $lightBlue;
      border: none;
    }
    @include media {
      img {
        transform: translateY(-12.5%);
        width: 50%;
      }
    }
  }
  &.workstation {
    padding: 0;
    > div {
      padding: $contentPadding;
      &:first-child {
        img {
          image-rendering: pixelated;
          transform:translateX(-12.5%);
          @include media($tablet) {
            width: 50%;
          }
        }
      }
      &.contactUs {
        border-top: {
          left-radius: 10px;
          right-radius: 10px;
        }
        @include media {
          margin: $contentPadding;
          transform: translateY(50%);
          border-radius: 10px;
        }
        h2 {
          color: #a6efff;
        }
      }
    }
  }
  &.stem {
  }
}
