section {
  padding: $contentPadding;
  margin-bottom: 10vh;

  &.laptopWoman {
    margin: 0;
    div {
      padding-top: 2 * $headerHeight;
    }
    img {
      width: 100%;
      transform: scale(1.1);
      @include media {
        width: 53.8%;
        transform: translate(0) scale(1);
      }
    }

    a {
      background-color: $black;
      width: 100%;
      @include media {
        width: 50%;
      }
    }

    @include media($tablet) {
      flex-direction: column;
    }

    @include media {
      flex-direction: row;
      background: {
        image: url(/assets/img/circleBackground.svg);
        repeat: no-repeat;
        position: 200% -100%;
        size: 75% 75%;
      }

      //   padding-top: 0.5 * $headerHeight;
    }
  }
  &.students {
    div {
      &.tablet {
        img {
          width: 24%;
          height: 50vh;
          margin: 18vh 0.5vw 6vh;
          object-fit: cover;
          border-radius: $borderRadius;
          image-rendering: pixelated;
          &:hover {
            transform: scale(1.15);
          }
        }
      }
      &.note {
        @include media {
          width: 70%;
          text-align: center;
        }
        @include media($laptop) {
          width: 50%;
        }
      }
    }
    a {
      @include media {
        width: 25%;
      }
    }
  }
  &.QHSE {
    background-color: $deepBlue;
    * {
      color: #fff;
    }
    margin-top: 32vh;
    a {
      border: none;
      background-color: #0135d6;
      box-shadow: 2px 2px #000 ;
      box-shadow: 0 0 3px rgba(60,72,88,15);
      width: 100%;
      @include media {
        width: 50%;
        align-self: flex-start;
      }
    }
    img {
      transform: translate(-3.125%, 0);
      @include media {
        transform: translateY(-15%);
        width: 50%;
      }
    }
  }
  &.stem {
    > div {
      padding: $contentPadding;
    }
    .note {
      a {
        width: 100%;
        @include media {
          width: 50%;
        }
      }
      @include media {
        max-width: 55%;
        padding-top: 10vh;
      }
    }
    .kids {
      img {
        @include media {
          height: 35vh;
          width: 30%;
          margin-top: 10vh;
        }
        height: 50vh;
        width: 90%;
        margin-bottom: 4vh;
        object-fit: cover;
        border-radius: 2 * $borderRadius;
        image-rendering: pixelated;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    > a {
      margin: $contentPadding;
      background-color: #fff;
      @include media {
        width: 25%;
        margin: {
          right: auto;
          left: auto;
        }
      }
    }
    .gallery {
      height: 12vh;
      background-image: linear-gradient(
        0deg,
        #a5a6f6 -18.66%,
        rgba(252, 221, 236, 0) 90.15%
      );
      width: 100%;
      color: $black;
      margin: 12vh 0;
    }
    padding: 0;
    @include media {
      background: {
        image: url("/assets/img/airship.svg");
        repeat: no-repeat;
        size: center center;
        position: 60% 10%;
      }
    }
  }
  &.workstation {
    padding: 0;
    @include media($laptop) {
      margin-top: -15vh;
    }
    > div {
      padding: $contentPadding;
      &:first-child {
        p {
          margin-top: 8vh;
        }
        .buttons {
          justify-content: flex-start;

          a {
            @include media {
              margin: 12vh 0;
              &:first-child {
                border: none;
                width: 45%;
                margin-right: 3vw;
              }
              &:last-child {
                width: 25%;
              }
            }
          }
        }
        img {
          image-rendering: pixelated;
          transform: translate(-12.5%, 0);
          margin-top: -25%;
          @include media($tablet) {
            width: 50%;
            transform: translate(0);
            margin: 0;
            z-index: 1;
          }
        }
      }
      &.contactUs {
        border-top: {
          left-radius: 10px;
          right-radius: 10px;
        }
        margin-bottom: -10vh;
        @include media {
          margin: $contentPadding;
          margin-top: -25vh;
          margin-bottom: -30vh;
          transform: translateY(10%);
          border-radius: 10px;
          z-index: 0;
        }
        p {
          color: $footerColor;
          @include media{
            max-width: 85%;
          }
        }
        h4 {
          color: #a6efff;
        }
        a {
          border: 1px solid #fff;
          @include media {
            width: 50%;
            margin-left: 4vw;
            padding: 0 5px;
          }
        }
      }
    }
  }
}
