footer {
  padding: $contentPadding;
  @include media{
    padding-top: 3.5 * $headerHeight;
    padding-bottom: 6vh;
  }
  section{
    margin-bottom: 0;
  }
  background-color: $black;
  * {
    color: $footerColor;
  }
  a,div{
    font-size: 1em;
    font-weight: 100;
    margin: 0.5vh 0;
  }
  span {  color: $white;}
  .links {
    span{
      margin: 2vh 0 4vh;
    }
    a{
      margin: 2vh 0 ;
    }
    @include media {
      justify-content: space-between;
    }
    align-items: flex-start;
  }
  div.flex_c {  align-items: flex-start;}
  .socials {
    align-items: flex-start;
    .follow {
      a {
        margin-right: 3 * $smallpadding;
      }
    }

    margin-top: 6vh;
    @include media {
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        svg:first-child {
          margin-right: 2 * $smallpadding;
        }
      }
    }
  }
}
