footer {
  padding: $contentPadding;
  padding-top: 2 * $headerHeight;
  background-color: $black;
  * {
    color: $footerColor;
  }
  a,div{
    font-size: 1em;
    font-weight: 100;
    margin: 0.5vh 0;
  }
  span {
    color: $white;
  }
  .links {
    @include media {
      > div {
        justify-content: space-between;
        width: 100%;
      }
      justify-content: space-between;
    }
    @include media($laptop) {
      > div {
        width: 45%;
      }
      flex-direction: row;
    }
    align-items: flex-start;
  }
  div.flex_c {
    align-items: flex-start;
  }
  .socials {
    align-items: flex-start;
    .follow {
      a {
        margin-right: 3 * $smallpadding;
      }
    }

    @include media {
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        svg:first-child {
          margin-right: 2 * $smallpadding;
        }
      }
    }
  }
}
